*
!backend/alembic
!backend/alembic.ini
!backend/poetry.lock
!backend/pyproject.toml
!backend/tero
backend/tero/__pycache__
!common/src
!common/package.json
!common/tsconfig.json
!docker
!frontend/*.cjs
!frontend/*.html
!frontend/env.d.ts
!frontend/package.json
!frontend/pnpm-lock.yaml
!frontend/public
!frontend/src
!frontend/tsconfig*.json
!frontend/vite.config.ts
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!sample.env
